# Public browser values only. Never place a service-role key here.
NEXT_PUBLIC_SOLANA_CLUSTER=devnet
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_USR_PROGRAM_ID=4ZssVwZYsfPAdoWozYyxPHFYts5uohJBHWCQo6yEm5AC
NEXT_PUBLIC_USR_MINT=6cBq44LrxdqWyZrPyvkydQ32hGPhYvErtt66eyM4KVEg
NEXT_PUBLIC_USR_CONFIG_PDA=24P7GQNwrNQnNojxipxAYR8nmBi3ZKWHoRB8zoetWX5A
NEXT_PUBLIC_USR_REWARD_VAULT=1djxzK9KKKbfUpNSVDww3zFQqueEjCPLjrCkbU1V5X3
NEXT_PUBLIC_SITE_URL=https://www.usrsol.fun
